<a href="https://colab.research.google.com/github/AMJAMAITHILI/ML_LAB-141/blob/main/ML_LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import string
EngAlph=pd.Series(list(string.ascii_lowercase))
print(EngAlph)

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [ ]:
vowels=pd.Series(0,index=["a","e","i","o","u"])
print(vowels)

a    0
e    0
i    0
o    0
u    0
dtype: int64

In [18]:
Sales = pd.DataFrame({
    '2014': [100.5, 150.8, 200.9, 30000, 40000],
    '2015': [12000, 18000, 22000, 30000, 45000],
    '2016': [20000, 50000, 70000, 100000, 125000],
    '2017': [50000, 60000, 70000, 80000, 90000]
}, index=['Madhu','Kusum','Kinshuk','Ankit','Shruti'])
print(Sales)

            2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.8  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000  125000  90000

In [19]:
# a)
print(Sales.index)
# b)
print(Sales.columns)
# c)
print(Sales.dtypes)
# d)
print(Sales.ndim, Sales.shape, Sales.size, Sales.values)
# e)
print(Sales.tail(2))
# f)
print(Sales.iloc[:,0:2])
# g)
Sales2 = pd.DataFrame({
    '2018':[160000,110000,500000,340000,900000]
}, index=['Madhu','Kusum','Kinshuk','Ankit','Shruti'])
# h)
print(Sales2.empty)

Index(['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'], dtype='object')
Index(['2014', '2015', '2016', '2017'], dtype='object')
2014    float64
2015      int64
2016      int64
2017      int64
dtype: object
2 (5, 4) 20 [[1.005e+02 1.200e+04 2.000e+04 5.000e+04]
 [1.508e+02 1.800e+04 5.000e+04 6.000e+04]
 [2.009e+02 2.200e+04 7.000e+04 7.000e+04]
 [3.000e+04 3.000e+04 1.000e+05 8.000e+04]
 [4.000e+04 4.500e+04 1.250e+05 9.000e+04]]
           2014   2015    2016   2017
Ankit   30000.0  30000  100000  80000
Shruti  40000.0  45000  125000  90000
            2014   2015
Madhu      100.5  12000
Kusum      150.8  18000
Kinshuk    200.9  22000
Ankit    30000.0  30000
Shruti   40000.0  45000
False

In [20]:
# a)
Sales = pd.concat([Sales, Sales2], axis=1)
print(Sales)

# b)
print(Sales.T)

# c)
print(Sales.T.loc['2017'])

# d)
print(Sales.T.loc[['2017', '2018'], ['Madhu', 'Ankit']])

# e)
print(Sales.T.loc['2016', 'Shruti'])

# f)
Sales['Sumeet'] = [196.2, 37800, 52000, 78438, 38852]
print(Sales)

# g)
Sales.drop('2014', axis=1, inplace=True)
print(Sales)

# h)
Sales.drop('Kinshuk', axis=0, inplace=True)
print(Sales)

# i)
Sales.rename(index={'Ankit': 'Vivaan', 'Madhu': 'Shailesh'}, inplace=True)
print(Sales)

# j)
Sales.loc['Shailesh', '2018'] = 100000
print(Sales)

# k)
Sales.to_csv('SalesFigures.csv', index=True, header=True)

# l)
SalesRetrieved = pd.read_csv('SalesFigures.csv', index_col=0)
print(SalesRetrieved)

            2014   2015    2016   2017    2018
Madhu      100.5  12000   20000  50000  160000
Kusum      150.8  18000   50000  60000  110000
Kinshuk    200.9  22000   70000  70000  500000
Ankit    30000.0  30000  100000  80000  340000
Shruti   40000.0  45000  125000  90000  900000
         Madhu     Kusum   Kinshuk     Ankit    Shruti
2014     100.5     150.8     200.9   30000.0   40000.0
2015   12000.0   18000.0   22000.0   30000.0   45000.0
2016   20000.0   50000.0   70000.0  100000.0  125000.0
2017   50000.0   60000.0   70000.0   80000.0   90000.0
2018  160000.0  110000.0  500000.0  340000.0  900000.0
Madhu      50000.0
Kusum      60000.0
Kinshuk    70000.0
Ankit      80000.0
Shruti     90000.0
Name: 2017, dtype: float64
         Madhu     Ankit
2017   50000.0   80000.0
2018  160000.0  340000.0
125000.0
            2014   2015    2016   2017    2018   Sumeet
Madhu      100.5  12000   20000  50000  160000    196.2
Kusum      150.8  18000   50000  60000  110000  37800.0
Kinshuk    200.9  22000   70000  70000  500000  52000.0
Ankit    30000.0  30000  100000  80000  340000  78438.0
Shruti   40000.0  45000  125000  90000  900000  38852.0
          2015    2016   2017    2018   Sumeet
Madhu    12000   20000  50000  160000    196.2
Kusum    18000   50000  60000  110000  37800.0
Kinshuk  22000   70000  70000  500000  52000.0
Ankit    30000  100000  80000  340000  78438.0
Shruti   45000  125000  90000  900000  38852.0
         2015    2016   2017    2018   Sumeet
Madhu   12000   20000  50000  160000    196.2
Kusum   18000   50000  60000  110000  37800.0
Ankit   30000  100000  80000  340000  78438.0
Shruti  45000  125000  90000  900000  38852.0
           2015    2016   2017    2018   Sumeet
Shailesh  12000   20000  50000  160000    196.2
Kusum     18000   50000  60000  110000  37800.0
Vivaan    30000  100000  80000  340000  78438.0
Shruti    45000  125000  90000  900000  38852.0
           2015    2016   2017    2018   Sumeet
Shailesh  12000   20000  50000  100000    196.2
Kusum     18000   50000  60000  110000  37800.0
Vivaan    30000  100000  80000  340000  78438.0
Shruti    45000  125000  90000  900000  38852.0
           2015    2016   2017    2018   Sumeet
Shailesh  12000   20000  50000  100000    196.2
Kusum     18000   50000  60000  110000  37800.0
Vivaan    30000  100000  80000  340000  78438.0
Shruti    45000  125000  90000  900000  38852.0