<a href="https://colab.research.google.com/github/AMJAMAITHILI/ML_LAB-141/blob/main/ML_LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import string
EngAlph=pd.Series(list(string.ascii_lowercase))
print(EngAlph)

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [ ]:
vowels=pd.Series(0,index=["a","e","i","o","u"])
print(vowels)

a    0
e    0
i    0
o    0
u    0
dtype: int64

In [3]:
df=pd.DataFrame({2014:[20,30,40],2015:[20,30,40],2016:[20,30,40]},index=["A","B","C"])
print(df)

   2014  2015  2016
A    20    20    20
B    30    30    30
C    40    40    40

In [ ]:
print(df.index)
print(df.columns)
print(df[2014].dtype)
print(df.size)
print(df.shape)
print(df.values)
print(df.ndim)
print(df.head(2))
print(df.iloc[:2])
print(df.empty)

Index(['A', 'B', 'C'], dtype='object')
Index([2014, 2015, 2016], dtype='int64')
int64
9
(3, 3)
[[20 20 20]
 [30 30 30]
 [40 40 40]]
2
   2014  2015  2016
A    20    20    20
B    30    30    30
   2014  2015  2016
A    20    20    20
B    30    30    30
False

In [4]:
df1=pd.DataFrame({2014:[20,30,40]},index=["A","B","C"])
print(df1)

   2014
A    20
B    30
C    40

In [ ]:
df2=pd.concat([df, df1])
print(df2)

   2014  2015  2016
A    20  20.0  20.0
B    30  30.0  30.0
C    40  40.0  40.0
A    20   NaN   NaN
B    30   NaN   NaN
C    40   NaN   NaN

In [5]:
df3=pd.concat([df, df1])
print(df3)

   2014  2015  2016
A    20  20.0  20.0
B    30  30.0  30.0
C    40  40.0  40.0
A    20   NaN   NaN
B    30   NaN   NaN
C    40   NaN   NaN